.App {
  font-family: sans-serif;
  text-align: center;
}

.social-container {
  background: #eee;
  padding: 25px 50px;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}
a.youtube {
  color: #eb3223;
}
a.facebook {
  color: #4968ad;
}
a.twitter {
  color: #49a1eb;
}
a.instagram {
  color: #180d01;
}
.btn {
  padding: 10px;
  font-size: 25px;
  color: #0000007c;
  cursor: pointer;
  background-color: #23bcebe0;
  border: none;
}
.heading {
  font-size: 20px;
  color: #ebda23;
}
